:root {
  --clr-main-bg: rgb(255, 255, 255);
  --clr-navbar-bg: rgb(4, 74, 117);
  --clr-vertical-navbar-bg: rgb(249, 250, 252);
  --clr-button1: rgb(0, 113, 199);
  --clr-skip-onboarding: rgb(24, 133, 208);
  --clr-emails-text-view: rgb(0, 113, 201);
  --clr-border-gray: rgb(192, 204, 218);
  --clr-completed-step-bg: rgb(249, 250, 252);
  --clr-navbar-current: rgb(255, 210, 1);

  --clr-text-white: white;
  --clr-text-black: black;
}

body {
  background-color: var(--clr-main-bg);
  overflow-y: scroll;
}

button:hover {
  cursor: pointer;
}

/* navbar */

.navbar {
  display: flex;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-navbar-bg);
}

@media (max-width: 420px) {
  .navbar {
    height: 10vh;
    display: grid;
    grid-template-rows: 5vh 5vh;
  }
}

.navbar_left,
.navbar_right {
  display: flex;
  align-items: center;
  height: 100%;
}

.company_logo {
  height: 3.5vh;
  margin: 0px 10px 0px 10px;
}

.nav_buttons {
  height: 100%;
  border: none;
  background-color: inherit;
  color: var(--clr-text-white);
  font-size: 0.6rem;
  font-weight: 550;
}

.remaining_container {
  display: grid;
  grid-template-columns: minmax(100px, 11%) 89%;
  height: 100vh;
}

.navbar .current {
  border-bottom: 2px solid var(--clr-navbar-current);
}

/* vertical nav bar */

.vertical_navbar {
  background-color: var(--clr-vertical-navbar-bg);
}

.vertical_navbar_buttons {
  display: flex;
  width: calc(100% - 8px);
  border: none;
  background-color: inherit;
  font-size: 0.7rem;
  margin: 14px 0px 14px 8px;
}

.emails_section {
  margin: 10vh 0px 0px 1vw;
}

.emails_header {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 600;
}

.emails_text_info {
  margin: 0;
  font-size: 0.6rem;
}

.emails_text_view {
  margin: 0;
  font-size: 0.6rem;
  text-decoration: underline;
  color: var(--clr-emails-text-view);
}

/* main section */

.main_section {
  padding-top: 1rem;
  display: grid;
  width: 60vw;
  grid-template-rows: 13px 260px 30px;
  font-size: 1rem;
}

@media (min-width: 450px) {
  .main_section {
    justify-self: center;
  }
}

.first_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_header {
  margin: 0;
}

.create_a_campaign_button {
  color: var(--clr-text-white);
  background-color: var(--clr-button1);
  border: none;
  border-radius: 3px;
  font-size: 0.6rem;
  height: 30px;
  font-weight: 550;
}

.outside_table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 550;
}

.skip_onboarding {
  font-size: 0.6rem;
  color: var(--clr-skip-onboarding);
}

/* Introduction */

.introduction {
}

.introduction_steps {
  display: grid;
  border-radius: 5px;
  border: 1px solid var(--clr-border-gray);
  height: fit-content;
}

.step {
  display: flex;
  align-items: center;
  border: 1px solid var(--clr-border-gray);
  font-size: 0.6rem;
  padding: 2vh;
  min-height: 30px;
}

.step p {
  margin: 2px;
}

.step.completed {
  text-decoration: line-through;
  background-color: var(--clr-completed-step-bg);
}

.step.completed p {
  color: gray;
}

.step_extra_info {
  font-size: 0.5rem;
  color: rgb(103, 103, 103);
}

.completed_icon,
.incomplete_icon {
  height: 0.8rem;
  margin-right: 0.4rem;
}

/* information */

.information {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5vw;
  margin-top: 20px;
}

.information_blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--clr-border-gray);
  border-radius: 5px;
  padding: 5% 7% 5% 7%;
  font-size: 0.6rem;
}

.information_type,
.i_symbol {
  margin: 0px 0px 15% 0px;
  color: gray;
}

.information_arrow {
  background-color: inherit;
  border: none;
}

.progress {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}

.count {
  font-size: 1rem;
  margin: 0;
}

.percentage {
  display: flex;
  background-color: rgb(239, 242, 247);
  justify-content: center;
  align-items: center;
  width: 1.5vw;
  border-radius: 10px;
  font-size: 0.5rem;
  margin-top: 0.8vw;
  margin-bottom: 0.4vw;
}

.make_it_inline {
  display: flex;
}

.i_symbol {
  margin-left: 0.8vw;
  color: var(--clr-text-black);
  font-weight: 600;
}
